.navbar-style{
    background-color: rgb(242, 226, 203);
}

.logo-img-style{
    width: 70px;
    height: 70px;
}

*{
    font-family: 'Times New Roman', Times, serif;
}

.logo-text-style{
    margin: -21px 0px 0px 70px;
}